In [29]:
import pandas as pd
import numpy as np

In [30]:
#TASK 1 - Creating a pandas dataframe df with 10 observations and 5 features
df = pd.DataFrame([[1, 2, 3, 4, 5],[2, 3, 4, np.nan, 6],[4, 5, 8, 9, 6],[7, 6, 5, 4, 3],[2, 4, 6, 8, 10],[5, 4, 3, 2, 1],[9, 8, 7, 6, 5],[3, 5, 7, 9, 8],[6, 7, 4, 5, 2],[1, 3, 5, 7, 9]])
df.columns=['c1','c2','c3','c4','c5']
df

   c1  c2  c3   c4  c5
0   1   2   3  4.0   5
1   2   3   4  NaN   6
2   4   5   8  9.0   6
3   7   6   5  4.0   3
4   2   4   6  8.0  10
5   5   4   3  2.0   1
6   9   8   7  6.0   5
7   3   5   7  9.0   8
8   6   7   4  5.0   2
9   1   3   5  7.0   9

In [31]:
#TASK 2 - Checking the info of df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      10 non-null     int64
 1   c2      10 non-null     int64
 2   c3      10 non-null     int64
 3   c4      9 non-null      float64
 4   c5      10 non-null     int64
dtypes: float64(1), int64(4)
memory usage: 528.0 bytes

In [32]:
#TASK 3 - Checking the descriptive statistics of df
df.describe()

              c1         c2        c3       c4         c5
count  10.000000  10.000000  10.00000  9.00000  10.000000
mean    4.000000   4.700000   5.20000  6.00000   5.500000
std     2.708013   1.888562   1.75119  2.44949   2.953341
min     1.000000   2.000000   3.00000  2.00000   1.000000
25%     2.000000   3.250000   4.00000  4.00000   3.500000
50%     3.500000   4.500000   5.00000  6.00000   5.500000
75%     5.750000   5.750000   6.75000  8.00000   7.500000
max     9.000000   8.000000   8.00000  9.00000  10.000000

In [33]:
#TASK 4 - Checking the 4th index observation with loc slicing operator
df.loc[3]

c1    7.0
c2    6.0
c3    5.0
c4    4.0
c5    3.0
Name: 3, dtype: float64

In [34]:
#TASK 5 - Checking for null values in df
df.isnull().any()

c1    False
c2    False
c3    False
c4     True
c5    False
dtype: bool